@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Indie+Flower&family=Ysabeau:ital,wght@1,100;1,400&display=swap');

// colores
$color1: lightcoral;
$color2: linen;
$color3: black;
$color4: white;
$color5: cornflowerblue;
$color6: aliceblue;
$color7: lavender;

// fuentes
$fuente1: 'Alkatra', cursive;
$fuente2: 'Ysabeau', sans-serif;

// tamaños
$t1: 50px;
$t2: 100px;
$t3: 150px;
$t4: 200px;
$t5: 250px;
$t6: 300px;
$t7: 500px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: $t1;
    font-family: $fuente1;
    color: $color3;
    margin-left: $t3;

    span {
        color: $color1;
    }
}

h3 {
    font-family: $fuente2;
    font-size: 30px;
}

.navbar-nav {
    font-size: 30px;
    font-family: $fuente2
}
@media only screen and (min-widht: 400px){
    .navbar-brand {
        font-size: 30px;
        font-family: $fuente1;
        color: $color3;
        margin-left: $t1;
    }
    h3 {
        font-family: $fuente2;
        font-size: 10px;
    }
    .navbar-nav {
        font-size: 10px;
        font-family: $fuente2
}
}

body {
    width: 100%;
    background-image: url("./img/fondoindex.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: $t7;
    height: $t6;
    background-color: $color2;
    padding: $t1 20px;
    text-align: center;
    margin-top: $t3;
    font-family: $fuente2;
    font-size: 25px;
    color: $color3;
    opacity: 0.8;

    h1 {
        font-size: 40px;
        color: $color5;
        font-family: $fuente1
    }

    .btn:hover {
        color: $color1;
    }
}
@media only screen and (min-widht: 400px){
    .container {
        width: 250px;
        height: 150px;
        background-color: $color2;
        padding: $t1 20px;
        text-align: center;
        margin-top: $t3;
        margin-left: 125px;
        font-family: $fuente2;
        font-size: 25px;
        color: $color3;
        opacity: 0.8;
}
}



/* quines somos */
h2 {
    margin-top: $t2;
    padding: 15px;
    text-align: center;
    font-family: $fuente2;
    font-size: 80px;
    color: $color4;
}

.contenedor {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 300px);
    margin-top: 20px;
    padding: 15px;
    grid-gap: 10px;
}

.contenedor .gal {
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.9s;
}


.contenedor .f1 {
    background-image: url(./img/car1.jpeg);
    background-size: 50%;
}

.contenedor .f2 {
    background-image: url(./img/Popi1.jpeg);
    background-size:50%;

}

.contenedor .f3 {
    background-image: url(./img/Popi3.jpeg);
    background-size: 50%;
}


.contenedor p {
    text-align: center;
    font-family: $fuente2;
    font-size: 25px;
    background-color: $color6;
    border-radius: 25px;
    margin-top: 30px;
}

@media only screen and (min-width: 400px) {
    h2 {
        margin-top: 50px;
        padding: 15px;
        text-align: center;
        font-family: $fuente2;
        font-size: 20px;
        color: $color4;
    }
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 400px);
        margin-left: 20px;
        width: 100%;
    }
}

@media only screen and (min-width: 550px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 400px);
    }
}

@media only screen and (min-width: 780px) {
    .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 300px);
    }

    .f1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .f2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .f3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .f4 {
        grid-column: 1/4;
        grid-row: 2/3;
    }
}


/* menu */
.card-group {
    margin-top: $t4;
    opacity: 0.8;

    h5 {
        text-align: center;
        font-family: $fuente2;
        font-size: 30px;
        text-decoration: underline;
    }

    .card-text {
        font-family: $fuente2
    }
}

/* footer */

.pie-pagina {
    width: 100%;
    background-color: $color4;
    margin-top: $t6;

    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $t1;
        padding: 45px 0px;
    }

    .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: $t4;
        height: $t4;
    }

    .box h2 {
        color: $color3;
        margin-top: 15px;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .box p {
        color: $color3;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: $color3;
        margin-left: $t1;
        text-align: center;
        transition: all 300ms ease;
    }

    .red-social a:hover {
        color: $color1;
        width: 75px;
        height: 75px;
    }

    .grupo-2 {
        background-color: $color5;
        padding: 15px 10px;
        text-align: center;
        color: $color3;

        .grupo-2 small {
            font-size: 15px;
        }
    }
}

@media only screen and (min-widht: 400px){
    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 10px 0px;
    }
}

// @media screen and (max-widht: 800px) {
//     .pie-pagina .grupo-1 {
//         width: 90%;
//         grid-template-columns: repeat(1, 1fr);
//         grid-gap: 30px;
//         padding: 35px 0px;
//     }
// }

.slide {
    margin: $t4 $t5;

    .slide img {
        height: 80vh;
    }
}


form {
    width: 400px;
    margin: auto;
    background-color: $color5;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: $t4;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0.8;

    .formulario {
        background-size: 100vw 100vh;
        font-family: $fuente2
    }

    h3 {
        color: $color3;
        text-align: center;
        margin: 0;
        font-size: 40px;
        font-family: $fuente2
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
    }

    textarea {
        min-height: $t2;
        max-height: $t4;
        min-width: $t2;
        max-width: 400px;
    }

    #boton {
        background: $color7;
        padding: 20px;
    }

    #boton:hover {
        cursor: pointer;
    }
}

@media only screen and (max-widht: 400px) {
    .formulario {
        width: 100%;
    }
}